table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

dt, dd {
     float: left;
 }

dt {
    clear:both;
    margin-left: 10px;
}

dd {
    margin-left: 10px;
}
