table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

dt, dd {
     float: left;
 }

dt {
    clear:both;
    margin-left: 10px;
}

dd {
    margin-left: 10px;
}

#video-buttons {
    margin-left: 10px;
    margin-top: 10px;
}

#search {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#search-input {
}

#search-video-count {
    font-weight: bold;
}

.bootstrap-tagsinput {
  width: 100% !important;
}
